@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? null;

    var boxOneImage = Model?.Value<IPublishedContent>("serviceOneImage")?.Url() ?? "";
    var boxTwoImage = Model?.Value<IPublishedContent>("serviceTwoImage")?.Url() ?? "";
    var boxThreeImage = Model?.Value<IPublishedContent>("serviceThreeImage")?.Url() ?? "";
    var boxFourImage = Model?.Value<IPublishedContent>("serviceFourImage")?.Url() ?? "";
    var boxFiveImage = Model?.Value<IPublishedContent>("serviceFiveImage")?.Url() ?? "";
    var boxSixImage = Model?.Value<IPublishedContent>("serviceSixImage")?.Url() ?? "";
}
	<header>
       <div class="background-image">
            <img src="media/wndlucis/whitecircle.svg" alt="Header background">
        </div>
        <div class="intro">
            <h2>Our Services</h2>
            <a href="/">Home</a>
            <p><i class="fa-solid fa-chevrons-right"></i></p>
            <p class="color-p">Services</p>
        </div>
	</header>

<section id="services" class="our-services">
    <div class="container">
        <div class="headline">
            <h5>@Model.Value("serviceSectionTitle")</h5>
            <h2>@Model.Value("serviceHeadline")</h2>
        </div>
        <div class="content">
            <a href="/service/service-item-1/" class="content-box-link">
                <div class="content-box">
                    <h2>@Model.Value("serviceOneTitle")</h2>
                    <img src="@boxOneImage" alt="Risk management">
                    <p>@Model.Value("serviceDescription")</p>
                </div>
            </a>
            <a href="/service/service-item-2/" class="content-box-link">
                <div class="content-box">
                    <h2>@Model.Value("serviceTwoTitle")</h2>
                    <img src="@boxTwoImage" alt="Bonds & Commodities">
                    <p>@Model.Value("serviceDescription")</p>
                </div>
            </a>
            <a href="/service/service-item-3/" class="content-box-link">
                <div class="content-box">
                    <h2>@Model.Value("serviceThreeTitle")</h2>
                    <img src="@boxThreeImage" alt="Assurance & Audits">
                    <p>@Model.Value("serviceDescription")</p>
                </div>
            </a>
            <a href="/service/service-item-4/" class="content-box-link">
                <div class="content-box">
                    <h2>@Model.Value("serviceFourTitle")</h2>
                    <img src="@boxFourImage" alt="Tax and Trusts">
                    <p>@Model.Value("serviceDescription")</p>
                </div>
            </a>
            <a href="/service/service-item-5/" class="content-box-link">
                <div class="content-box">
                    <h2>@Model.Value("serviceFiveTitle")</h2>
                    <img src="@boxFiveImage" alt="Financial Advisor">
                    <p>@Model.Value("serviceDescription")</p>
                </div>
            </a>
            <a href="/service/service-item-6/" class="content-box-link">
                <div class="content-box">
                    <h2>@Model.Value("serviceSixTitle")</h2>
                    <img src="@boxSixImage" alt="Statistic Advisors">
                    <p>@Model.Value("serviceDescription")</p>
                </div>
            </a>
        </div>
    </div>
</section>
        @await Html.PartialAsync("partials/static/topfooter.cshtml")